#content {

	text-align: center;
	padding-top: 25%;
}

body {

	background: url(https://images.unsplash.com/photo-1456677698485-dceeec22c7fc?ixlib=rb-1.2.1&w=1000&q=80);
	background-size: cover;
	font-family: lado;
}

h1 {
	color: white;
	font-weight: 700%;
	font-size: 5em;
}

h3 {

	color: white;
}

hr {

	border-top: 1px solid white;
	width: 400px;
}

html {

	height: 100%;
}